---
layout: _default
title: 車両紹介
description:
keyword:
vendercss: ['aos/aos']
venderjs: ['aos/aos']
css: ['common','vehicle']
js: ['common']
page: vehicle
---

<main class="p_vehicle">
    <div class="c_page_hero">
        <picture class="c_page_hero__image">
            <source media="(max-width: 767px)" srcset="../assets/images/other/img_mv_sp.png">
            <img src="../assets/images/other/img_mv.png" alt="">
        </picture>

        <div class="c_page_hero__content">
            <div class="c_page_hero__heading c_page_heading">
                <h1 class="c_page_heading__mttl u_color_white">
                    車輌紹介
                </h1>
                <p class="c_page_heading__suben u_color_white u_txt_italic_skew">Vehicle introduction</p>
            </div>
        </div>
    </div>

    <div class="l_container block">
        <div class="c_breadcrumb">
            <div class="c_breadcrumb__in" vocab="https://schema.org/" typeof="BreadcrumbList">
                <span property="itemListElement" typeof="ListItem">
                    <a href="" property="item" typeof="WebPage"><span property="name">HOME</span></a>
                    <meta property="position" content="1">
                </span>
                <span class="c_breadcrumb__sepa">-</span>
                <span property="itemListElement" typeof="ListItem">
                    <span property="name"> 車輌紹介</span>
                    <meta property="position" content="2">
                </span>
            </div>
        </div>
    </div>

    <div class="p_vehicle_anchor">
        <div class="l_container block">
            <div class="c_inpage_navs">
                <div class="c_inpage_nav">
                    <a href="">ダンプ</a>
                </div>
                <div class="c_inpage_nav">
                    <a href="">アームロール</a>
                </div>
                <div class="c_inpage_nav">
                    <a href="">ウイング車</a>
                </div>
                <div class="c_inpage_nav">
                    <a href="">平ボディー</a>
                </div>
                <div class="c_inpage_nav">
                    <a href="">タンク車</a>
                </div>
                <div class="c_inpage_nav">
                    <a href="">粉粒立体運搬車</a>
                </div>
            </div>
        </div>
    </div>

    <div class="p_vehicle_main">
        <section class="p_vehicle_section">
            <div class="l_container block">
                <div class="c_heading_h2">
                    <span class="u_fs_40 u_f_en c_heading_h2__numb">01</span>
                    <h2 class="u_fs_40 c_heading_h2__mttl">ダンプ</h2>
                    <span class="u_f_en c_heading_h2__en">Vehicle introduction category</span>
                </div>
                <h3 class="c_heading_h3bg c_heading_bg01">
                    <span class="c_heading_h3bg__main">積載物</span>
                    <span class="c_heading_h3bg__sub">汚泥、燃え殻 など</span>
                </h3>
                <p class="p_vehicle_section__txt">ダンプの説明が入ります。ダンプの説明が入ります。ダンプの説明が入ります。ダンプの説明が入ります。ダンプの説明が入ります。ダンプの説明が入ります。ダンプの説明が入ります。ダンプの説明が入ります。ダンプの説明が入ります。ダンプの説明が入ります。</p>
                <div class="c_card_groups">
                    <a href="" class="c_card">
                        <figure class="c_card__thumb"></figure>
                        <h4 class="c_card__title">10tダンプ</h4>
                        <p class="c_card__catch">簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります説明文が入ります。</p>
                    </a>
                    <a href="" class="c_card">
                        <figure class="c_card__thumb"></figure>
                        <h4 class="c_card__title">10tオンロードダンプ</h4>
                        <p class="c_card__catch">簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります説明文が入ります。</p>
                    </a>
                    <a href="" class="c_card">
                        <figure class="c_card__thumb"></figure>
                        <h4 class="c_card__title">25tトレーラダンプ</h4>
                        <p class="c_card__catch">簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります説明文が入ります。</p>
                    </a>
                </div>
            </div>
        </section>

        <section class="p_vehicle_section">
            <div class="l_container">
                <div class="c_heading_h2">
                    <span class="u_fs_40 u_f_en c_heading_h2__numb">02</span>
                    <h2 class="u_fs_40 c_heading_h2__mttl">アームロール</h2>
                    <span class="u_f_en c_heading_h2__en">Vehicle introduction category</span>
                </div>
                <h3 class="c_heading_h3bg c_heading_bg01">
                    <span class="c_heading_h3bg__main">積載物</span>
                    <span class="c_heading_h3bg__sub">汚泥、燃え殻等、廃プラ、木くず　などの低比重品</span>
                </h3>
                <p class="p_vehicle_section__txt">アームロールの説明が入ります。アームロールの説明が入ります。アームロールの説明が入ります。アームロールの説明が入ります。アームロールの説明が入ります。アームロールの説明が入ります。アームロールの説明が入ります。アームロールの説明が入ります。アームロールの説明が入ります。</p>
                <div class="c_card_groups">
                    <a href="" class="c_card">
                        <figure class="c_card__thumb"></figure>
                        <h4 class="c_card__title">11ｔアームロール/汚泥箱</h4>
                        <p class="c_card__catch">簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります説明文が入ります。</p>
                    </a>
                    <a href="" class="c_card">
                        <figure class="c_card__thumb"></figure>
                        <h4 class="c_card__title">11ｔアームロール/廃プラ箱</h4>
                        <p class="c_card__catch">簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります説明文が入ります。</p>
                    </a>
                    <a href="" class="c_card">
                        <figure class="c_card__thumb"></figure>
                        <h4 class="c_card__title">7ｔアームロール</h4>
                        <p class="c_card__catch">簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります説明文が入ります。</p>
                    </a>
                </div>
            </div>
        </section>
    </div>

</main>