/*!
global > font
------------------------------
*/
:root {
  --base-font-gothic: "游ゴシック体",YuGothic,"游ゴシック","Yu Gothic","メイリオ",sans-serif;
  --base-font-gothic02: "Noto Sans JP","游ゴシック体",YuGothic,"游ゴシック","Yu Gothic","メイリオ",sans-serif;
  --base-font-weight: 500;
  --base-color-txt: #555555;
}