@use '../../global' as *;

.p_vehicle {
    .c_page_hero {
        @include mq(md) {
            padding-top: 52px;
            padding-bottom: 38px;
        }
    }
    &_anchor {
        padding: 30px 0 50px;
        @include mq(md) {
            padding-bottom: 70px;
        }
    }
    &_main {
        padding-bottom: 50px;
        @include mq(md) {
            padding-bottom: 120px;
        }
    }
    &_section {
        position: relative;
        margin-bottom: 50px;
        padding: 30px 0 0;
        background: linear-gradient(
            90deg,
            rgba(213, 248, 255, 1) 0%,
            rgba(230, 255, 237, 1) 100%
        );
        overflow: hidden;
        @include mq(md) {
            margin-bottom: 72px;
            padding: 64px 0 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .c_heading_h2 {
            margin-bottom: 30px;
            @include mq(md) {
                margin-bottom: 46px;
            }
        }
        .c_heading_h3bg {
            margin-bottom: 25px;
            @include mq(md) {
                margin-bottom: 34px;
            }
        }
        &__txt {
            padding-bottom: 30px;
            @extend %fz-18;
            font-weight: 500;
            line-height: calc(32 / 18);
            letter-spacing: 0;
            font-feature-settings: 'palt';
            @include mq(md) {
                padding-bottom: 64px;
            }
        }
        .c_card_groups {
            position: relative;
            z-index: 1;
            margin-top: -10px;
            @include mq(md) {
                margin-top: -32px;
            }
            &::before {
                content: '';
                position: absolute;
                top: 32vw;
                left: 50%;
                z-index: -1;
                transform: translateX(-50%);
                width: 100vw;
                height: 100%;
                background-color: #fff;
                @include mq(md) {
                    top: clamped(80, 140, 768, 1400);
                }
            }
        }
        .c_card {
            @include mq(md) {
                transition: all 0.5s;
                &:hover {
                    opacity: 0.7 !important;
                }
            }
        }
    }
}
