---
layout: _default
title: Template
description:
keyword:
vendercss: ['aos/aos','slick/slick']
venderjs: ['aos/aos','slick/slick.min']
css: ['common']
js: ['common']
page: top
---
<style>
    .p_template {
        margin-top: 100px;
    }
</style>

<main class="p_template">

    <div class="c_page_hero">
        <figure class="c_page_hero__image">
            <img src="../assets/images/other/img_mv.jpg" alt="">
        </figure>

        <div class="c_page_hero__content">
            <div class="c_page_hero__heading c_page_heading">
                <p class="c_page_heading__subja u_color_skyblue">車輛紹介</p>
                <h1 class="c_page_heading__mttl u_color_white">
                    11ｔアームロール/汚泥箱
                </h1>
                <p class="c_page_heading__suben u_color_white">Vehicle introduction</p>
            </div>
        </div>
    </div>

    <div class="l_container">
        <div class="c_breadcrumb">
            <div class="c_breadcrumb__in" vocab="https://schema.org/" typeof="BreadcrumbList">
                <span property="itemListElement" typeof="ListItem">
                    <a href="" property="item" typeof="WebPage"><span property="name">HOME</span></a>
                    <meta property="position" content="1">
                </span>
                <span class="c_breadcrumb__sepa">-</span>
                <span property="itemListElement" typeof="ListItem">
                    <span property="name"> 車輛紹介</span>
                    <meta property="position" content="2">
                </span>
                <span class="c_breadcrumb__sepa">-</span>
                <span property="itemListElement" typeof="ListItem">
                    <span property="name"> アームロール</span>
                    <meta property="position" content="2">
                </span>
                <span class="c_breadcrumb__sepa">-</span>
                <span property="itemListElement" typeof="ListItem">
                    <span property="name"> 11ｔアームロール/汚泥箱</span>
                    <meta property="position" content="2">
                </span>
            </div>
        </div>

        <div class="c_heading01">
            <span class="u_fs_40 u_f_en u_txt_italic c_heading01__numb">01</span>
            <h2 class="u_fs_40 c_heading01__mttl">11ｔアームロール/汚泥箱</h2>
            <span class="u_fs_18 u_f_en u_txt_italic c_heading01__en">Arm-Roll</span>
        </div>
    </div>

</main>