@use "sass:math";
@use "../global" as *;

/*!
component >   BREAD CRUMB
------------------------------
*/

.c_breadcrumb {
    display: none;

    @include mq(md) {
        display: block;
        text-align: right;
        margin-top: 38px;
    }

    span {
        font-feature-settings: "palt";
        letter-spacing: 0.085em;
        font-size: rem(16);
    }
}