@use "sass:math";
@use "../global" as *;

/*!
component > btn
------------------------------
*/
.c_totop {
    position: fixed;
    right: 20px;
    bottom: 60px;
    display: block;
    font-size: 0;
    width: 45px;
    height: 45px;
    transform: translateY(150px);
    transition: 0.5s;
    font-size: 0;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 1;
    z-index: 9;
    background: #333;
    border-radius: 40px;
    border: 2px solid #fff;

    @include mq(md) {
        right: 60px;
        bottom: 69px;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        border: 3px solid #fff;
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 11px;
        content: "";
        width: 12px;
        height: 3px;
        background: #fff;
        transform: translateY(-50%) rotate(-45deg);
        pointer-events: none;

        @include mq(md) {
            left: 15px;
            width: 15px;
        }
    }

    &::after {
        position: absolute;
        top: 50%;
        right: 11px;
        content: "";
        width: 12px;
        height: 3px;
        transform: translateY(-50%) rotate(45deg);
        pointer-events: none;
        background: #fff;

        @include mq(md) {
            right: 15px;
            width: 15px;
        }
    }

    &:hover {
        transform: translateY(-20px) !important;
    }
}


.c_btn {
    display: inline-block;
    background-color: #fff;

    &:hover {
        opacity: 1;

        span {
            opacity: 0.8;
        }
    }

    span {
        font-size: rem(14);
        letter-spacing: 0.08em;
        font-feature-settings: "palt";
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        transition: opacity 0.5s ease;

        @include mq(md) {
            font-size: rem(18);
            line-height: calc(24 / 18);
        }
    }

    &.c_btn01 {
        span {
            gap: 10px;

            &::after {
                content: '';
                display: inline-block;
                width: 19px;
                height: 19px;
                background-image: url('../images/common/icon_circle_arrow02.png');
                background-size: contain;
                background-position: center;
            }
        }
    }


    &.c_btn02 {
        span {
            color: #fff;
            font-weight: 700;
            background: linear-gradient(to right, rgb(77, 190, 224) 0%, rgb(44, 147, 199) 49%, rgb(10, 103, 173) 100%);
            padding-inline: 15px;
            padding-block: 13px;
            font-feature-settings: "palt" 0;
            gap: 15px;

            &::after {
                content: '';
                width: 19px;
                height: 19px;
                background-image: url('../images/common/icon_circle_arrow03.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

.c_btn_groups {
    margin-inline: -3px;

    &>.c_btn {
        margin-inline: 3px;
    }
}