---
layout: _default
title: 車両紹介
description:
keyword:
vendercss: ['aos/aos','swiper/swiper']
venderjs: ['aos/aos','swiper/swiper']
css: ['common','vehicle_detail']
js: ['common','vehicle_detail']
page: vehicle_detail
---

<main class="p_vehicle_detail">
    <div class="c_page_hero">
        <picture class="c_page_hero__image">
            <source media="(max-width: 767px)" srcset="../../assets/images/other/img_mv_sp.png">
            <img src="../../assets/images/other/img_mv.png" alt="">
        </picture>

        <div class="c_page_hero__content">
            <div class="c_page_hero__heading c_page_heading">
                <p class="c_page_heading__subja u_color_skyblue">車輛紹介</p>
                <h1 class="c_page_heading__mttl u_color_white">
                    11ｔアームロール/汚泥箱
                </h1>
                <p class="c_page_heading__suben u_color_white u_txt_italic_skew">Vehicle introduction</p>
            </div>
        </div>
    </div>

    <div class="l_container block">
        <div class="c_breadcrumb">
            <div class="c_breadcrumb__in" vocab="https://schema.org/" typeof="BreadcrumbList">
                <span property="itemListElement" typeof="ListItem">
                    <a href="" property="item" typeof="WebPage"><span property="name">HOME</span></a>
                    <meta property="position" content="1">
                </span>
                <span class="c_breadcrumb__sepa">-</span>
                <span property="itemListElement" typeof="ListItem">
                    <span property="name"> 車輛紹介</span>
                    <meta property="position" content="2">
                </span>
                <span class="c_breadcrumb__sepa">-</span>
                <span property="itemListElement" typeof="ListItem">
                    <span property="name"> アームロール</span>
                    <meta property="position" content="2">
                </span>
                <span class="c_breadcrumb__sepa">-</span>
                <span property="itemListElement" typeof="ListItem">
                    <span property="name"> 11ｔアームロール/汚泥箱</span>
                    <meta property="position" content="2">
                </span>
            </div>
        </div>
    </div>

    <section class="p_vehicle_detail_main">
        <div class="l_container">
            <div class="c_heading_h2">
                <span class="u_fs_40 u_f_en c_heading_h2__numb">01</span>
                <h2 class="u_fs_40 c_heading_h2__mttl">11ｔアームロール/汚泥箱</h2>
                <span class="u_f_en c_heading_h2__en">Arm-Roll</span>
            </div>
            <div class="p_vehicle_detail_flex">
                <div class="p_vehicle_detail_box">
                    <div class="p_vehicle_detail_box__txt">
                        <h3 class="c_heading_h3bg c_heading_bg01">
                            <span class="c_heading_h3bg__main">積載物</span>
                            <span class="c_heading_h3bg__sub">汚泥、燃え殻 など</span>
                        </h3>
                        <h3 class="c_heading_h3">水密コンテナ、密閉天蓋仕様の<br>アームロール</h3>
                        <p class="p_vehicle_detail_txt">荷台のコンテナ（荷台・荷箱）を自力で脱着出来るアームロールに、11tの汚泥箱を装備。<br>含水率の高い汚泥、燃え殻など汚泥ホッパー等の設備に設置し、積み込みが可能です。</p>
                    </div>
                    <div class="c_tbl">
                        <dl class="c_tbl__row">
                            <dt class="c_tbl__head">積載量</dt>
                            <dd class="c_tbl__body">8.5t ×4台</dd>
                        </dl>
                        <dl class="c_tbl__row">
                            <dt class="c_tbl__head">所有台数</dt>
                            <dd class="c_tbl__body">〇台</dd>
                        </dl>
                        <dl class="c_tbl__row">
                            <dt class="c_tbl__head">必要資格</dt>
                            <dd class="c_tbl__body">テキストテキストテキストテキストテキス</dd>
                        </dl>
                        <dl class="c_tbl__row">
                            <dt class="c_tbl__head">テキスト</dt>
                            <dd class="c_tbl__body">テキストテキストテキストテキストテキス</dd>
                        </dl>
                        <dl class="c_tbl__row">
                            <dt class="c_tbl__head">テキスト</dt>
                            <dd class="c_tbl__body">テキストテキストテキストテキストテキステキストテキストテキス</dd>
                        </dl>
                    </div>
                </div>
                <div class="p_vehicle_detail_slide">
                    <div class="p_vehicle_detail_slide__for swiper">
                        <div class="p_vehicle_detail_slide__for_inner swiper-wrapper">
                            <figure class="p_vehicle_detail_slide__for_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__for_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__for_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__for_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__for_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__for_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__for_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__for_item swiper-slide"></figure>
                        </div>
                        <div class="p_vehicle_detail_slide__btn prev"></div>
                        <div class="p_vehicle_detail_slide__btn next"></div>
                    </div>
                    <div class="p_vehicle_detail_slide__nav swiper">
                        <div class="p_vehicle_detail_slide__nav_inner swiper-wrapper">
                            <figure class="p_vehicle_detail_slide__nav_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__nav_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__nav_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__nav_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__nav_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__nav_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__nav_item swiper-slide"></figure>
                            <figure class="p_vehicle_detail_slide__nav_item swiper-slide"></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p_vehicle_detail_free"></div>
        </div>
    </section>

    <section class="p_vehicle_detail_other">
        <div class="l_container">
            <p class="p_vehicle_detail_other__en">Other Vehicles</p>
            <div class="p_vehicle_detail_other__main">
                <div class="p_vehicle_detail_other__head">
                    <h2 class="p_vehicle_detail_other__ttl">アームロール</h2>
                    <p class="p_vehicle_detail_other__sub">車輛一覧</p>
                    <div class="p_vehicle_detail_other__btn">
                        <a class="c_btn02 c_btn">
                            <span>全ての車輛一覧に戻る</span>
                        </a>
                    </div>
                </div>
                <div class="c_card_groups">
                    <a href="" class="c_card">
                        <figure class="c_card__thumb"></figure>
                        <h4 class="c_card__title">11ｔアームロール/汚泥箱</h4>
                    </a>
                    <a href="" class="c_card">
                        <figure class="c_card__thumb"></figure>
                        <h4 class="c_card__title">11ｔアームロール/廃プラ箱</h4>
                    </a>
                    <a href="" class="c_card">
                        <figure class="c_card__thumb"></figure>
                        <h4 class="c_card__title">7ｔアームロール</h4>
                    </a>
                </div>
                <div class="p_vehicle_detail_other__bot">
                    <a class="c_btn02 c_btn">
                        <span>全ての車輛一覧に戻る</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

</main>