@use 'sass:math';
@use '../global' as *;

/*!
component > title
------------------------------
*/
.c_page_heading {
    text-align: center;

    &__subja {
        font-size: rem(18);
        font-weight: 700;
        letter-spacing: 0.16em;
        font-feature-settings: 'palt';

        @include mq(md) {
            font-size: rem(28);
        }
    }

    &__mttl {
        font-weight: 700;
        font-feature-settings: 'palt';
        line-height: 1.5;
        font-size: rem(26);
        letter-spacing: 0.1em;

        @include mq(md) {
            letter-spacing: 0.12em;
            font-size: rem(44);
        }
    }

    &__suben {
        @extend %fz-14;
        letter-spacing: 0.09em;
        font-family: var(--font-en);
        font-weight: 300;
        margin-top: -2px;

        @include mq(md) {
            margin-top: 6px;
        }
    }
}

.c_heading {
    &_bg01 {
        background-color: #fff;
    }

    &_bg02 {
        background: linear-gradient(
            to left,
            rgb(230, 230, 230) 0%,
            rgb(237, 237, 237) 49%,
            rgb(243, 243, 243) 100%
        );
    }

    &_h2 {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 11px 10px;

        @include mq(md) {
            display: block;
        }

        & > * {
            line-height: calc(62 / 52);

            @include mq(md) {
                line-height: 1.55;
            }
        }

        &__numb,
        &__mttl {
            font-weight: 500;
        }

        &__numb {
            transform: skewX(-10deg);
            font-family: var(--font-en);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            color: transparent;
            background-image: linear-gradient(45deg, #4dbee0 20%, #aad96b);
            display: inline-block;
            order: 1;
        }

        &__en {
            font-weight: 300;
            color: #c3c3c3;
            font-family: var(--font-en);
            font-weight: 300;
            transform: skewX(-10deg);
            letter-spacing: 0.12em;
            display: inline-block;
            order: 2;
            font-size: rem(12);

            @include mq(md) {
                font-size: rem(18);
            }
        }

        &__mttl {
            font-weight: 700;
            letter-spacing: 0.18em;
            font-feature-settings: 'palt';
            display: inline;
            order: 3;
            flex-basis: 100%;

            @include mq(md) {
                padding-left: calc(14 / 40 * 1em);
                padding-right: calc(5 / 40 * 1em);
            }
        }
    }

    &_h3 {
        color: #379b87;
        font-weight: var(--base-font-weight);
        letter-spacing: 0.08em;
        font-size: rem(17);
        font-feature-settings: 'palt';

        @include mq(md) {
            font-size: rem(26);
            line-height: calc(40 / 26);
        }
    }

    &_h3bg {
        padding: 10px 12px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @include mq(md) {
            display: block;
            padding: 10px 25px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            background: linear-gradient(to right, #4dbee0 20%, #aad96b);
            top: 0;
            left: 0;
            clip-path: polygon(0 0, 0% 100%, 100% 0);

            @include mq(md) {
                width: 22px;
                height: 22px;
            }
        }

        &__main {
            font-size: rem(17);
            font-weight: 700;
            letter-spacing: 0.04em;
            font-feature-settings: 'palt';
            width: 100%;
            line-height: calc(52 / 34);

            @include mq(md) {
                line-height: 2;
                font-size: rem(20);
                display: inline-block;
                width: auto;
            }
        }

        &__sub {
            font-size: rem(13);
            font-weight: 500;
            letter-spacing: 0.04em;
            font-feature-settings: 'palt';
            position: relative;
            width: 100%;
            padding-left: 17px;

            @include mq(md) {
                line-height: calc(40 / 18);
                font-size: rem(18);
                padding-left: 37px;
                display: inline-block;
                width: initial;
                letter-spacing: 0.07em;
            }

            &::before {
                content: '';
                position: absolute;
                width: 6px;
                height: 1px;
                background-color: #c3c3c3;
                left: 2px;
                top: calc(12 / 13 * 1em);

                @include mq(md) {
                    width: 13px;
                    height: 1px;
                    top: calc(20 / 18 * 1em);
                }
            }
        }
    }

    &_h4 {
        font-weight: 700;
        font-size: rem(14);
        line-height: calc(50 / 28);
        color: #2f91aa;
        letter-spacing: 0.03em;
        font-feature-settings: 'palt';
        position: relative;
        padding-left: 18px;

        @include mq(md) {
            font-size: rem(20);
            line-height: 2;
            padding-left: 27px;
        }

        &::before {
            content: '';
            position: absolute;
            background: url('../images/common/icon_h4.webp');
            background-size: contain;
            background-repeat: no-repeat;
            width: 9px;
            height: 9px;
            left: 0;
            top: 7px;

            @include mq(md) {
                width: 14px;
                height: 14px;
                left: 0;
                top: calc(12 / 20 * 1em);
            }
        }
    }
}
