---
layout: _default
title: ページタイトル
description:
keyword:
vendercss: ['aos/aos','slick/slick']
venderjs: ['aos/aos','slick/slick.min']
css: ['common','other']
js: ['common']
page: other
---

<main class="p_other">

    <div class="c_page_hero">
        <picture class="c_page_hero__image">
            <source media="(max-width: 767px)" srcset="../assets/images/other/img_mv_sp.png">
            <img src="../assets/images/other/img_mv.png" alt="">
        </picture>

        <div class="c_page_hero__content">
            <div class="c_page_hero__heading c_page_heading">
                <h1 class="c_page_heading__mttl u_color_white">ページタイトル</h1>
                <p class="c_page_heading__suben u_color_white u_txt_italic_skew">English title</p>
            </div>
        </div>
    </div>

    <div class="l_container block">
        <div class="c_breadcrumb">
            <div class="c_breadcrumb__in" vocab="https://schema.org/" typeof="BreadcrumbList">
                <span property="itemListElement" typeof="ListItem">
                    <a href="" property="item" typeof="WebPage"><span property="name">HOME</span></a>
                    <meta property="position" content="1">
                </span>
                <span class="c_breadcrumb__sepa">-</span>
                <span property="itemListElement" typeof="ListItem">
                    <span property="name"> ページタイトル</span>
                    <meta property="position" content="2">
                </span>
            </div>
        </div>
    </div>

    <div class="p_other_main">
        <div class="l_container block">
            <div class="c_inpage_navs">
                <div class="c_inpage_nav">
                    <a href="">アンカーリンク</a>
                </div>
                <div class="c_inpage_nav">
                    <a href="">アンカーリンク</a>
                </div>
                <div class="c_inpage_nav">
                    <a href="">アンカーリンク</a>
                </div>
                <div class="c_inpage_nav">
                    <a href="">アンカーリンク長い時アンカーリンク長い時</a>
                </div>
            </div>
        </div>
    
        <div class="p_other_sec01">
            <div class="l_container block">
                <div class="c_heading_h2">
                    <span class="u_fs_40 u_f_en c_heading_h2__numb">00</span>
                    <h2 class="u_fs_40 c_heading_h2__mttl">h2タイトルh2タイトル/汚泥箱</h2>
                    <span class="u_f_en c_heading_h2__en">EnglishEnglishEnglish</span>
                </div>
            </div>
        </div>
    
        <div class="l_container block">
            <h3 class="c_heading_h3bg c_heading_bg02">
                <span class="c_heading_h3bg__main">h3タイトルh3タイトルh3タイトルh3タイ
                    トルh3タイトル</span>
                <span class="c_heading_h3bg__sub">h3サブタイトルがある時の記載</span>
            </h3>
            <h4 class="c_heading_h4">
                h4タイトルh4タイトルh4タイトルh4タイトルh4タイトルh4タイトル
            </h4>
            <p class="c_txt_base">
                ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。
            </p>
            <h3 class="c_heading_h3">
                コピー用見出しｈ3タイプコピー用見出しｈ3タイプコピー用見出しｈ3タイプコピー用見出しｈ3タイプ
                コピー用見出しｈ3タイプコピー用見出しｈ3タイプコピー用見出しｈ3タイプ
            </h3>
            <p class="c_txt_base">
                ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イ
                メージ。ボディコピー文章イメージ。<a href="">本文中テキストリンク</a>ボディコピー文章イメージ。ボディコピー文章イメージ。
            </p>
            <a class="c_btn01 c_btn">
                <span>テキストリンクパターン</span>
            </a>
            <div class="c_btn_groups">
                <a class="c_btn02 c_btn">
                    <span>ボタンリンクボタン</span>
                </a>
                <a class="c_btn02 c_btn">
                    <span>テキストに応じた長さ変更が必要</span>
                </a>
            </div>
            <div class="c_card_groups">
                <a href="" class="c_card">
                    <figure class="c_card__thumb"></figure>
                    <h4 class="c_card__title">リンク見出しリンク見出し
                    </h4>
                    <p class="c_card__catch c_txt_base">簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります説明文が入ります。</p>
                </a>
                <a href="" class="c_card">
                    <figure class="c_card__thumb"></figure>
                    <h4 class="c_card__title">リンク見出しリンク見出し
                    </h4>
                    <p class="c_card__catch c_txt_base">簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります説明文が入ります。</p>
                </a>
                <a href="" class="c_card">
                    <figure class="c_card__thumb"></figure>
                    <h4 class="c_card__title">
                        リンク見出しリンク見出し
                    </h4>
                    <p class="c_card__catch c_txt_base">簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります簡単な説明文が入ります説明文が入ります。</p>
                </a>
            </div>
            <ul class="c_txt_list">
                <li class="c_txt_list__item">
                    リストテキストリストテキストリストテキストリストテキストリストテキストリストテキストリストテキストリストテキストリストテキストリストテキストリストテキスト
                </li>
                <li class="c_txt_list__item">
                    リストテキストリストテキストリストテキストリストテキスト
                </li>
                <li class="c_txt_list__item">
                    リストテキストリストテキストリストテキストリストテキスト
                </li>
            </ul>
            <div class="wp-block-flexible-table-block-table">
                <table class="">
                    <tbody>
                        <tr>
                            <td>テキスト</td>
                            <td>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキスト</td>
                        </tr>
                        <tr>
                            <td>テキスト</td>
                            <td>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</td>
                        </tr>
                        <tr>
                            <td>テキスト</td>
                            <td>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="p_other_sec02">
            <div class="l_container block">
                <h3 class="c_heading_h3bg c_heading_bg01">
                    <span class="c_heading_h3bg__main">h3タイトルh3タイトルh3タイトルh3タイ
                        トルh3タイトル</span>
                    <span class="c_heading_h3bg__sub">h3サブタイトルがある時の記載</span>
                </h3>
                <h4 class="c_heading_h4">
                    h4タイトルh4タイトルh4タイトルh4タイトルh4タイトルh4タイトル
                </h4>
                <p class="c_txt_base">
                    ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イ
                    メージ。ボディコピー文章イメージ。本文中テキストリンクボディコピー文章イメージ。ボディコピー文章イメージ。
                </p>
            </div>
        </div>

        <div class="p_other_sec01">
            <div class="l_container block">
                <h3 class="c_heading_h3bg c_heading_bg01">
                    <span class="c_heading_h3bg__main">h3タイトルh3タイトルh3タイトルh3タイ
                        トルh3タイトル</span>
                    <span class="c_heading_h3bg__sub">h3サブタイトルがある時の記載</span>
                </h3>
                <h4 class="c_heading_h4">
                    h4タイトルh4タイトルh4タイトルh4タイトルh4タイトルh4タイトル
                </h4>
                <p class="c_txt_base">
                    ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イメージ。ボディコピー文章イ
                    メージ。ボディコピー文章イメージ。本文中テキストリンクボディコピー文章イメージ。ボディコピー文章イメージ。
                </p>
            </div>
        </div>
    </div>
</main>