<div class="c_box">
    <span class="c_box__close">
        <img src="<%= assetsDir %>assets/images/common/icon_close.svg" alt="">
    </span>
    <div class="c_box__inner">
        <span class="c_box__txt01">木の住まいをもっと知りたい方へ　</span>
        <span class="c_box__txt02">資料請求</span>
        <figure class="c_box__book">
            <img src="<%= assetsDir %>assets/images/common/icon_book.svg" alt="">
        </figure>
    </div>
</div>
<!--▲ Content area ▲-->