@use "../../global" as *;

.p_top_kv {
    position: relative;

    @include mq(md) {
        height: calc(100vh - 109px);
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        @include mq(md) {
            height: calc(100vh - clamped(160, 201, 768, 1600));
        }

        &_img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__content {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        @include mq(md) {
            padding-right: clamped(20, 80, 768, 1600);
            padding-left: 20px;
        }
    }

    &__ttl {
        font-style: italic;
        display: inline-flex;
        align-items: flex-end;
        flex-direction: column;

        @include mq(md) {
            gap: 11px;
            margin-bottom: 41px;
        }

        p {
            background-color: #fff;
            font-family: var(--base-font-gothic02);
            font-weight: 700;
            letter-spacing: 0.04em;
            line-height: 1.2;
            display: inline-block;
            font-size: rem(26.34);

            @include mq(md) {
                font-size: clamped(25.34, 48.73, 768, 1600);
                padding-inline: 19px;
                padding-top: 4px;
                padding-bottom: 11px;
            }
        }

        .blue {
            color: #064e90;
        }

        .smtxt {
            font-size: rem(22.055);

            @include mq(md) {
                font-size: clamped(22.055, 40.8, 768, 1600);
            }
        }
    }

    &__catch {
        mix-blend-mode: multiply;
        position: relative;

        @include mq(md) {
            right: calc(clamped(0, 31, 768, 1600) * -1);
            top: 5px;
            width: max(700px, calc(1184 / 1920 * 100vw));
        }
    }
}

.p_top_news {
    position: relative;

    @include mq(md) {
        padding-top: 100px;
        padding-bottom: 140px;
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, rgb(77, 190, 224) 0%, rgb(124, 204, 166) 49%, rgb(170, 217, 107) 100%);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);

        @include mq(md) {
            width: clamped(220, 379, 1024, 1800);
            aspect-ratio: 1;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__ttl {
        display: flex;
        align-items: center;

        @include mq(md) {
            gap: 17px;
        }

        .ja {
            font-size: rem(26);
            font-weight: 700;
            letter-spacing: 0.36em;

            @include mq(md) {
                font-size: rem(28);
            }
        }

        .en {
            font-size: rem(16);
            font-family: var(--font-en);
            font-weight: 300;
            transform: skewX(-10deg);
            letter-spacing: 0.12em;
            color: #c3c3c3;

            @include mq(md) {
                font-size: rem(18);
            }
        }
    }

    &__more {
        padding-right: 16px;
        padding-top: 5px;

        &_target {
            span {
                @extend %fz-16;

                @include mq(md) {
                    gap: 7px;
                }
            }
        }
    }

    &__body {
        @include mq(md) {
            margin-top: 18px;
        }
    }

    &__list {
        &_item {
            border-top: 1px solid #c3c3c3;

            &:first-child {
                width: calc(100% - 6px);
            }

            &:nth-child(2) {
                width: calc(100% - 65px);
            }

            &:nth-child(3) {
                width: calc(100% - 123px);
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: calc(100% - 60px);
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: #c3c3c3;
                }
            }
        }
    }
}

.p_top_service {
    &__head {
        position: relative;
        height: calc(568 / 1920 * 100vw);

        &_bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &_content {
            position: relative;
            height: 100%;

            @include mq(md) {
                padding-block: 30px;
            }
        }
    }

    &__ttl {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 100%;

        .en {
            @extend %fz-80;
            letter-spacing: 0.04em;
            font-family: var(--font-en);
            font-weight: 500;
            line-height: 1;
        }

        .ja {
            font-size: rem(16);
            letter-spacing: 0.36em;
            font-weight: 700;

            @include mq(md) {
                font-size: rem(28);
                margin-right: -8px;
                margin-top: 3px;
            }
        }
    }

    &__boxttl {
        @include mq(md) {
            margin-top: 67px;
        }
    }


    &__boxtext {
        letter-spacing: 0.08em;

        @include mq(md) {
            margin-top: 25px;
        }
    }

    &__boxbtns {
        display: flex;
        margin-left: auto;
        flex-wrap: wrap;
        justify-content: flex-end;

        @include mq(md) {
            gap: 12px;
            margin-top: 34px;
        }
    }

    .c_heading_h2 {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;

        @include mq(md) {
            gap: 5px 15px;
        }

        &__mttl {
            @include mq(md) {
                padding: 0;
            }
        }
    }

    &__list {
        @include mq(md) {
            margin-top: -115px;
        }

        .c_card {
            &__thumb {
                padding-top: calc((230 / 394) * 100%);
            }

            &__catch {
                @extend %fz-16;
                letter-spacing: 0.1em;
                line-height: calc(48 / 28);

                @include mq(md) {
                    line-height: calc(28 / 16);
                    letter-spacing: 0.07em;
                }
            }
        }
    }

    &__break {
        background: #f3f3f3;

        @include mq(md) {
            margin-top: 61px;
            padding-block: 12px;
            padding-left: clamped(40, 65, 768, 1600);
            padding-right: 45px;
            display: flex;
            // justify-content: center;
            align-items: baseline;
            flex-wrap: wrap;
        }

        .highlight {
            @extend %fz-18;
            color: #064e90;
            font-weight: 700;

            @include mq(md) {
                margin-right: 13px;
            }
        }

        span {
            @extend %fz-16;
            letter-spacing: 0.05em;
            font-feature-settings: "palt";
            min-width: fit-content;
        }
    }

    &_box01 {
        &__top_wrap {
            padding-left: 20px;
            padding-right: 20px;
            background: linear-gradient(to left, rgb(230, 255, 237) 0%, rgb(222, 252, 246) 51%, rgb(213, 248, 255) 100%);

            @include mq(md) {
                padding-top: 55px;
                padding-bottom: 190px;
            }

        }

        &__top {
            display: flex;
            gap: 4%;
            align-items: flex-start;
            position: relative;

            @include mq(md) {
                max-width: 1466px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }

        }

        &__thumb_wrap {
            position: relative;

            @include mq(md) {
                width: calc(611 / 1466 * 100%);
                margin-top: calc(-153/1466 * 100%);
                padding-top: calc(753 / 1466 * 100%);

            }

        }

        &__grp_img {
            display: grid;

            @include mq(md) {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                grid-template-columns: calc(128 / 611 * 100%) calc(128 / 611 * 100%) calc(355 / 611 * 100%);
                grid-template-rows: calc(410 / 753 * 100%) calc(228 / 753 * 100%) calc(115 / 753 * 100%);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;

                @include mq(md) {
                    border-radius: 20px 0 20px 0;
                }
            }

            .mimg {
                position: relative;

                @include mq(md) {
                    grid-area: 1/2/3/4;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    box-shadow: rgb(223, 223, 223) 0px 0 57px 0px;
                    border-radius: 20px 0 20px 0;
                    mix-blend-mode: multiply;
                }

            }

            .simg {
                position: relative;

                @include mq(md) {
                    grid-area: 2/1/4/3;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    box-shadow: rgb(223, 223, 223) 0px 0 57px 0px;
                    border-radius: 20px 0 20px 0;
                    mix-blend-mode: multiply;
                }
            }
        }

        &__content {
            @include mq(md) {
                max-width: 665px;
                flex: 1;
            }
        }
    }

    &_box02 {
        background: linear-gradient(to left, rgb(230, 255, 237) 0%, rgb(222, 252, 246) 51%, rgb(213, 248, 255) 100%);

        @include mq(md) {
            margin-top: 65px;
            padding-top: 67px;
            padding-bottom: 60px;
        }

        &__in {
            @include mq(md) {
                max-width: 1372px;
                width: calc(100% - 40px);
                margin-left: auto;
                margin-right: auto;
                display: flex;
                align-items: flex-start;
            }
        }

        &__content {
            @include mq(md) {
                width: 50%;
                padding-left: clamped(0, 81, 768, 1600);
                padding-right: calc(60 / 1372 * 100%);
            }
        }

        &__thumb_wrap {
            @include mq(md) {
                width: 50%;
                position: relative;
                padding-top: calc(420 / 1372 * 100%);
                margin-top: 33px;
            }
        }

        &__grp_img {
            display: grid;

            @include mq(md) {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                grid-template-columns: calc(431 / 685 * 100%) calc(174 / 685 * 100%) calc(81 / 685 * 100%);
                grid-template-rows: calc(241 / 420 * 100%) calc(140 / 420 * 100%) calc(40 / 420 * 100%);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;

                @include mq(md) {
                    border-radius: 20px 0 20px 0;
                }
            }

            .mimg {
                position: relative;

                @include mq(md) {
                    grid-area: 1/1/3/3;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    box-shadow: rgb(223, 223, 223) 0px 0 57px 0px;
                    border-radius: 20px 0 20px 0;
                    mix-blend-mode: multiply;
                }

            }

            .simg {
                position: relative;

                @include mq(md) {
                    grid-area: 2/2/4/4;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    box-shadow: rgb(223, 223, 223) 0px 0 57px 0px;
                    border-radius: 20px 0 20px 0;
                    mix-blend-mode: multiply;
                }
            }
        }

        &__btn {
            display: flex;

            @include mq(md) {
                margin-top: 38px;
            }
        }
    }
}